body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: #3ba4d6;
    font-weight: 900;
}

#container {
    background-color: #90d8fa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#topleft {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: #fff;
}

#topmid {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #fff;
}

#topright {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    background-color: #fff;
}

#midleft {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #fff;
}

#midmid {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
}

#midright {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #fff;
}

#botleft {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #fff;
}

#botmid {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: #fff;
}

#botright {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #fff;
}

.brdspc {
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#gamedisplay {
    background: rgb(144,216,250);
    background: linear-gradient(180deg, rgba(144,216,250,1) 0%, rgba(59,164,214,1) 100%);
    text-align: center;
    visibility: hidden;
    border: 1px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playerinput {
    text-align: center;
    position: absolute;
    background: rgb(144,216,250);
    background: linear-gradient(180deg, rgba(144,216,250,1) 0%, rgba(59,164,214,1) 100%);
    border: 1px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    background: rgb(244,177,4);
    background: linear-gradient(0deg, rgba(244,177,4,1) 0%, rgba(255,214,99,1) 100%);
    border: 2px solid #f99600;
    border-radius: 5px;
    color: black;
}
 
button:hover {
    background: rgb(244,141,4);
    background: linear-gradient(0deg, rgba(244,141,4,1) 0%, rgba(255,193,99,1) 100%);
}

button:active {
    transform: translateY(2px);
}

.compchecked {
    display: none;
}

.labelbold {
    font-weight: 700;
}

 /* portrait mode */  

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) and (orientation: portrait) {
    h1 {
        font-size: 40px;
        margin: 10px auto;
        text-align: center;
    }

    #container {
        width: 90vw;
        height: 90vw;
        grid-gap: 10px;
        position: absolute;
        top: calc(40% - (90vw / 2));
        left: calc(50% - (90vw / 2));
    }

    .brdspc {
        font-size: 74px;
        line-height: calc((90vw - 20px)/ 3);
    }

    #gamedisplay {
        width: 90vw;
        height: 25vh;
        position: absolute;
        top: 67vh;
        left: calc(50% - 45vw);
        padding-top: 20px;
    }

    #playerinput {
        position: absolute;
        top: calc(50% - 50vw);
        left: calc(50% - 45vw);
        width: 90vw;
        height: 200px;
        padding-top: 20px;
    }

    button {
        font-size: 14px;
        padding: 6px 18px;
    }

    input {
        margin-bottom: 15px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 50px;
        font-size: 20px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 767px) and (orientation: portrait) {
    h1 {
        font-size: 50px;
        margin: 20px auto;
        text-align: center;
    }

    #container {
        width: 90vw;
        height: 90vw;
        grid-gap: 20px;
        position: absolute;
        top: calc(40% - (90vw / 2));
        left: calc(50% - (90vw / 2));
    }

    .brdspc {
        font-size: 139px;
        line-height: calc((90vw - 40px)/ 3);
    }

    #gamedisplay {
        width: 90vw;
        height: 25vh;
        position: absolute;
        top: 70vh;
        left: calc(50% - 45vw);
        padding-top: 20px;
    }

    #playerinput {
        position: absolute;
        top: calc(40% - (200px / 2));
        left: calc(50% - 200px);
        width: 400px;
        height: 200px;
        padding-top: 25px;
    }

    button {
        font-size: 16px;
        padding: 6px 18px;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 50px;
        font-size: 24px;
    }
 }

 /* Medium devices (portrait tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    h1 {
        font-size: 60px;
        margin: 30px auto;
        text-align: center;
    }

    #container {
        width: 90vw;
        height: 90vw;
        grid-gap: 20px;
        position: absolute;
        top: calc(45% - 45vw);
        left: calc(50% - 45vw);
    }

    .brdspc {
        font-size: 145px;
        line-height: calc((90vw - 40px)/ 3);
    }

    #gamedisplay {
        width: 80vw;
        height: calc(100vh - 90vw - 60px - 72px - 20px);
        position: absolute;
        bottom: 10px;
        left: calc(50% - 40vw);
        padding-top: 20px;
    }

    #playerinput {
        position: absolute;
        top: calc(50% - 100px);
        left: calc(50% - 200px);
        width: 400px;
        height: 200px;
        padding-top: 20px;
    }

    button {
        font-size: 16px;
        padding: 6px 18px;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 50px;
        font-size: 24px;
    }
 }

 /* landscape mode */
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    h1 {
        font-size: 50px;
        padding-left: 10px;
    }

    #container {
        grid-gap: 20px;
        width: 90vh;
        height: 90vh;
        position: absolute;
        top: calc(50% - 45vh);
        right: calc(35% - 45vh);
    }

    .brdspc {
        font-size: 25vh;
        line-height: calc((90vh - 40px)/ 3);
    }

    #gamedisplay {
        width: 300px;
        height: 200px;
        position: absolute;
        top: calc(50% - 100px);
        left: 10px;
        padding-top: 20px;
    }

    #playerinput {
        top: calc(50% - 100px);
        right: calc(35% - 200px);
        width: 400px;
        height: 200px;
        padding-top: 20px;
    }

    button {
        font-size: 16px;
        padding: 6px 18px;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 50px;
        font-size: 24px;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width: 1199px) and (orientation: landscape) {
    h1 {
        font-size: 50px;
        padding-left: 10px;
    }

    #container {
        grid-gap: 20px;
        width: 80vh;
        height: 80vh;
        position: absolute;
        top: calc(50% - 40vh);
        right: calc(35% - 40vh);
    }

    .brdspc {
        font-size: 140px;
        line-height: calc((80vh - 40px)/ 3);
    }

    #gamedisplay {
        width: 300px;
        height: 350px;
        position: absolute;
        top: calc(50% - 175px);
        left: 10px;
        padding-top: 20px;
    }

    #playerinput {
        position: absolute;
        top: calc(50% - 100px);
        right: calc(35% - 200px);
        width: 400px;
        height: 200px;
        padding-top: 20px;
    }

    button {
        font-size: 16px;
        padding: 6px 18px;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 50px;
        font-size: 24px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) and (orientation: landscape) {
    h1 {
        font-size: 50px;
        padding-left: 10px;
    }

    #container {
        grid-gap: 20px;
        width: 94vh;
        height: 94vh;
        position: absolute;
        top: calc(50% - 47vh);
        left: calc(50% - 47vh);
    }

    .brdspc {
        font-size: 25vh;
        line-height: calc((94vh - 40px)/ 3);
    }

    #gamedisplay {
        width: 360px;
        height: 200px;
        position: absolute;
        top: calc(50% - 100px);
        left: 10px;
        padding-top: 20px;
    }

    #playerinput {
        top: calc(50% - 100px);
        left: calc(50% - 200px);
        width: 400px;
        height: 200px;
        padding-top: 20px;
    }

    button {
        font-size: 16px;
        padding: 6px 18px;
        margin: 10px;
    }

    input {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    #displaytxt {
        padding-bottom: 25px;
        font-size: 25px;
    }
 } 
